{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    <div class="row">
        <div class="col menuPrincipal row" style="text-align: center;">
            <div class="col item">
                <a href="/gerencia/caixaEntradaNovo/" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/entrada.svg' %}"alt=""><br />
                Entrada</a>
            </div>
            <div class="col item">
                <a href="/gerencia/caixaSaidaNovo/" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/saida.svg' %}"alt=""><br />
                Saída</a>
            </div>
            <div class="col item">
                <a href="/gerencia/balancoHome/" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/relatorio.svg' %}"alt=""><br />
                Balanço</a>
            </div>
            <div class="col item">
                <a href="#" onclick="goBack()" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/back.svg' %}"alt=""><br />
                Voltar</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}