{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    <div class="row">
        <div class="col menuPrincipal row" style="text-align: center;">
            <div class="col item">
                <a href="/gerencia/contasPagarNovo/" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/add.svg' %}"alt=""><br />
                Nova conta a pagar</a>
            </div>
            <div class="col item">
                <a href="/gerencia/contasPagarVisualizar/" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/search.svg' %}"alt=""><br />
                Visualizar contas</a>
            </div>
            <div class="col item">
                <a href="/gerencia/estoque/" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/relatorio.svg' %}"alt=""><br />
                Relatórios</a>
            </div>
            <div class="col item">
                <a href="#" onclick="goBack()" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/back.svg' %}"alt=""><br />
                Voltar</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}