{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    <div class="row">
        <div class="col menuPrincipal row" style="text-align: center;">
            <div class="col item ">
                <a href="#" class="gerenciaCaption">
                <img  class=" responsive gerenciaImg" src="{% static '/img/estudante.png' %}"alt=""><br />
                Colaboradores</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption">
                <img  class=" responsive gerenciaImg" src="{% static '/img/professor.png' %}"alt=""><br />
                Orçamentos</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption">
                <img  class=" responsive gerenciaImg" src="{% static '/img/classe.png' %}"alt=""><br />
                Clientes</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption">
                <img  class=" responsive gerenciaImg" src="{% static '/icones/icon_calendar.png' %}"alt=""><br />
                Fornecedores</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption">
                <img  class=" responsive gerenciaImg" src="{% static '/icones/icon_calendar.png' %}"alt=""><br />
                Relatórios</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption">
                <img  class=" responsive gerenciaImg" src="{% static '/img/suporte.png' %}"alt=""><br />
                Suporte</a>
            </div>
            <div class="col item">
                <a href="/logout" class="gerenciaCaption">
                    <img  class=" responsive gerenciaImg" src="{% static '/img/sair.png' %}"><br />
                Sair</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}