{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    <div class="row">
        <div class="col menuPrincipal row" style="text-align: center;">
            <div class="col item ">
                <a href="/gerencia/colaboradores/" class="gerenciaCaption corBotao">
                <img style="height: 125px; width: auto; padding: 10px;" class=" responsive gerenciaImg" src="{% static '/images/ico/worker2.svg' %}"alt=""><br />
                Colaboradores</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption corBotao">
                <img style="height: 125px; width: auto; padding: 10px;" class=" responsive gerenciaImg" src="{% static '/images/ico/budget.svg' %}"alt=""><br />
                Orçamentos</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption corBotao">
                <img style="height: 125px; width: auto; padding: 10px;" class=" responsive gerenciaImg" src="{% static '/images/ico/partner.svg' %}"alt=""><br />
                Clientes</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption corBotao">
                <img style="height: 125px; width: auto; padding: 10px;" class=" responsive gerenciaImg" src="{% static '/images/ico/supplier.svg' %}"alt=""><br />
                Fornecedores</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption corBotao">
                <img style="height: 125px; width: auto; padding: 10px;" class=" responsive gerenciaImg" src="{% static '/images/ico/metrics.svg' %}"alt=""><br />
                Relatórios</a>
            </div>
            <div class="col item">
                <a href="#" class="gerenciaCaption corBotao">
                <img style="height: 125px; width: auto; padding: 10px;" class=" responsive gerenciaImg" src="{% static '/images/ico/support.svg' %}"alt=""><br />
                Suporte</a>
            </div>
            <div class="col item">
                <a href="/logout" class="gerenciaCaption corBotao">
                    <img style="height: 125px; width: auto; padding: 10px;" class=" responsive gerenciaImg" src="{% static '/images/ico/logout.svg' %}"><br />
                Sair</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}