{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    {% if msgConfirmacao %}
        <script>alert('{{msgConfirmacao}}')</script>
    {% endif %}
    <div class="col-sm-12 col-md-12 col-12">
        <img style="height: 80px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/search.svg' %}"alt="">&nbsp;<h3>Visualizar Cliente</h3><br><br>
    </div>
    <form method="POST" action="/gerencia/clientesVisualizar/" id="">
        {% csrf_token %}
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" width="10%">#</th>
                        <th scope="col" width="30%">Nome</th>
                        <th scope="col" width="50%">Contato</th>
                        <th scope="col" width="10%" style="text-align: center;">Visualizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clienteModel in clientes %}
                    <tr>
                        <th scope="row">{{clienteModel.id}}</th>
                        <td>{{clienteModel.nome}}</td>
                        <td>{{clienteModel.contato}}</td>
                        <td><button class="btn btn-outlined btn-warning" name="clienteID" style="float: right;" type="submit" value="{{clienteModel.id}}">Visualizar</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-sm-12 col-md-12 col-12">
                <input class="btn btn-outlined btn-secondary" style="float: right;" type="button" formaction="#" value="Voltar" onclick="goBack()"/>
            </div>
        </div>
    </form>
</main>
{% endblock %}