{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    <div class="col-sm-12 col-md-12 col-12">
        <img style="height: 80px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/funcaoEdit.svg' %}"alt="">&nbsp;<h3>Nova Função</h3><br><br>
    </div>
    <form method="POST" action="/gerencia/funcaoSalvar/" id="">
        {% csrf_token %}
        <input type="hidden" name="funcaoID" value="{{funcaoObj.id}}" />
        <div class="row">
            <div class="col-sm-12 col-md-12 col-12"style="padding-bottom: 10px;">
                <label >Nome</label>
                <input type="text" name="nome" class="form-control" maxlength="200" value="{{funcaoObj.nome}}">
            </div>
            <div class="col-sm-12 col-md-12 col-12" style="padding-bottom: 10px;">
                <label >Observação</label>
                <input type="text" name="observacao" class="form-control" maxlength="300" value="{{funcaoObj.observacao}}"><br>
            </div>
            <div class="col-sm-12 col-md-12 col-12">
                <input class="btn btn-outlined btn-warning" style="float: left;" type="button" value="Voltar" onclick="goBack()"/>
                <input class="btn btn-outlined btn-warning" style="float: right;" type="submit" value="Salvar" />
            </div>
        </div>
    </form>
</main>
{% endblock %}