{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<main>
    <div class="row">
        <div class="col menuPrincipal row" style="text-align: center;">
            <div class="col item">
                <a href="/gerencia/funcaoNovo/" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/funcaoAdd.svg' %}"alt=""><br />
                Nova Função</a>
            </div>
            <div class="col item">
                <a href="/gerencia/funcaoVisualizar" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/funcaoEdit.svg' %}"alt=""><br />
                Visualizar Funções</a>
            </div>
            <div class="col item">
                <a href="#" onclick="goBack()" class="gerenciaCaption">
                <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/back.svg' %}"alt=""><br />
                Voltar</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}