{% extends 'base_gerencia.html' %}
{% block body %}
{% load static %}
<div class="row">
    <div class="col-6 col-md-2">
        <a href="/gerencia/estoque/" class="gerenciaCaption">
        <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/job.svg' %}"alt=""><br />
        Equipamentos</a>
    </div>
    <div class="col-6 col-md-2">
        <a href="/gerencia/estoque/" class="gerenciaCaption">
        <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/tools.svg' %}"alt=""><br />
        Materiais</a>
    </div>
    <div class="col-6 col-md-2">
        <a href="/gerencia/estoque/" class="gerenciaCaption">
        <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/epi.svg' %}"alt=""><br />
        EPI's</a>
    </div>
    <div class="col-6 col-md-2">
        <a href="/gerencia/estoque/" class="gerenciaCaption">
        <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/ico/plataformaElevatoria.svg' %}"alt=""><br />
        Serviços Externos</a>
    </div>
    <div class="col-6 col-md-2">
        <a href="#" onclick="goBack()" class="gerenciaCaption">
        <img style="height: 125px; width: auto; padding: 10px;" class="conhecaCallan " src="{% static '/images/colaboradores/back.svg' %}"alt=""><br />
        Voltar</a>
    </div>
</div>
{% endblock %}